[build]
  command = "npm install"
  functions = "netlify/functions"
  publish = "frontend"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/.netlify/functions/stripe-webhook"
  to = "/.netlify/functions/stripe-webhook"
  status = 200

[functions]
  node_bundler = "esbuild"